<div class="footer block">
    <div class="footer__href-home">דף בית</div>
    <div class="footer__href-about-us">אודות</div>
    <div class="footer__href-products">מוצרים</div>
    <div class="footer__href-order-certificate">טופס הזמנה</div>
    <div class="footer__href-settings">תמיכה טכנית</div>
    <div class="footer__href-contact">צור קשר</div>
    <div class="footer__address">המרכבה 25 אזור תעשיה חולון, ת.ד 3652 ראש העין, ישראל</div>
    <div class="footer__phone">טלפון 03-6540500, פקס 03-6540502</div>
    <div class="footer__href-search-tool">חפש</div>
</div>