@media only screen and (min-width: 2133px) {.mainhome {right: 106.5px}}
@media only screen and (min-width: 2400px) {.mainhome {right: 240px}}
@media only screen and (min-width: 2560px) {.mainhome {right: 320px}}
@media only screen and (min-width: 2880px) {.mainhome {right: 480px}}
@media only screen and (min-width: 3840px) {.mainhome {right: 960px}}
@media only screen and (min-width: 5760px) {.mainhome {right: 1920px}}
@media only screen and (min-width: 7680px) {.mainhome {right: 2880px}}

.page { position: absolute; width: 100%; top: 0 }
.container-fluid { position: relative; width: 100% }
::ng-deep .row { margin: 0 }

.row > :not(.banner,.below-banner)  {/*WORKLOAD RISK USING THIS METHOD. POSSIBLE PERFORMANCE IMPACT*/
  position: relative;
  font-family: Assistant; font-size: 20px; font-weight: 300; font-stretch: normal;
  font-style: normal; letter-spacing: normal; text-align: right;
}

.banner{
  .banner__image-overlay {
    position: absolute; width: 1920px; top: 0px; height: 899px;
    background-color: black;
    opacity: 0.5;
  }
  .banner__title {
    position: absolute;
    top: 346px;  right: 495px;  width: 956px;  height: 130px;
    font-family: Assistant;  font-size: 60px;  font-weight: 200;   line-height: 1.25;  text-align: center;
    color: #ffffff;
  }
  .banner__button {
    position: absolute;
    top: 534px;  right: 873px;  width: 176px;  height: 68px;
    background-color: #3047d3;
    font-family: Assistant;  font-size: 20px;  font-weight: bold;  line-height: 2.75;  text-align: center;
    color: #fefefe;
  }
}

.below-banner {
  position: absolute; width: 1920px;  height: 3000px;  margin-top: 899px;
  border-top: 5px solid #3047d3;  background: white;
    > * { position: relative; }
}

.content {
    > * { position: relative }
  top: 0px; width: 1920px; height: 2254px; 
  text-align: right;
  .content__product{
    height: 700px;
    width: 1920px;
      > * { position: absolute }

    .content__product__dash1 {
      top: 195px;  right: 376px;  width: 27px;  height: 3px;
      background-color: #3047d3;
    }
    .content__product__title-header1 {
      top: 168px;  right: 423px; width: 176px;  height: 14px;
      font-family: Assistant; font-size: 18px; font-weight: bold; line-height: 3.06; letter-spacing: 1.8px;
      text-align: right;
      color: #3047d3;
    }
    .content__product__title1 {
      top: 208px;  right: 375px; width: 377px;  height: 36px;
      font-family: Assistant; font-size: 47px; font-weight: bold; line-height: 1.17; text-align: right;
      color: #181818;
    }
    .content__product__desc1 {
      top: 298px;  right: 375px; width: 421px;  height: 105px;
      font-family: Assistant;  font-size: 20px;  line-height: 1.5; 
      color: #181818;
    }
    .content__product__image1 {
      top: 131px; right:922px; width: 681px;  height: 514px;
    }
    
    .content__product__title-header2 {
      left: 561px; top: 168px; width: 208px;  height: 17px;
      font-family: Assistant;  font-size: 18px;  font-weight: bold;  line-height: 3.06;  letter-spacing: 1.8px;
      color: #3047d3;
    }
    .content__product__title2 {
      top: 208px; left:440px; width: 377px;  height: 36px;
      font-family: Assistant;  font-size: 47px;  font-weight: bold;  line-height: 1.17;
      color: #181818;
    }
    .content__product__desc2 {
      top: 298px;  left: 396px; width: 421px;  height: 105px;
      font-family: Assistant;
      font-size: 20px; line-height: 1.5; text-align: right;
      color: #181818;
    }
    .content__product__image2 {
      top: 131px; right:361px; width: 624px;  height: 451px; 
    }
    
    .content__product__title-header3 {
      top: 168px;  right: 423px; width: 87px;  height: 10px;
      font-family: Assistant; font-size: 18px; font-weight: bold; line-height: 3.06; letter-spacing: 1.8px;
      text-align: right;
      color: #3047d3;
    } 
    .content__product__title3 {
      top: 208px;  right: 375px; width: 377px;  height: 36px;
      font-family: Assistant;  font-size: 47px;  font-weight: bold;   line-height: 1.17;  text-align: right;
      color: #181818;
    }
    .content__product__desc3 {
      top: 298px;  right: 375px; width: 421px;  height: 105px;
      font-family: Assistant; font-size: 20px; line-height: 1.5; text-align: right;
      color: #181818;
    }
    .content__product__image3 {
      top: 131px; right:1112px; width: 338px;  height: 503px;
    }
  }
}

.tkanim {
  position: absolute; * { position: absolute }
  right: 0px; top: 0px; width: 1920px; height: 1036px;

  .tkanim__image {   
    top: 0px; right: 0px; width: 1920px; height: 1036px;
  }
  .tkanim__image-overlay { opacity: 0.5;
    top: 0px; right: 0px; width: 1920px; height: 1036px;
  }
  .tkanim__title-header {
    width: max-content !important; height: 12px; top: 161px; right: 423px;
    font-size: 18px; font-weight: bold; line-height: 3.06; letter-spacing: 1.8px;
    color: #ffffff;
  }
  .tkanim__title {
    top: 194px; right: 375px; width: max-content !important; height: 43px;
    font-size: 47px; font-weight: bold; line-height: 1.17;
    color: #ffffff;
  }
  .tkanim__desc {
    top: 294px; right: 375px; width: 421px; height: 105px; line-height: 1.5;
    color: #ffffff;
  }
  .paper{
    > * { padding: 15px; background-color: #35746c }
    .paper__doc1 { top: 147.5px; right: 959.5px; width: 289px; height: 369px }
    .paper__doc2 { top: 150.5px; right: 1278.5px; width: 279px; height: 366px }
    .paper__doc3 { top: 539.5px; right: 650.5px; width: 282px; height: 369px }
    .paper__doc4 { top: 540px; right: 959px; width: 284px; height: 366px }
    .paper__doc5 { top: 540px; right: 1276px; width: 283px; height: 368px }
  }
}

.callcenter {
  position: absolute;
  width: 1920px;  top: 0px;  height: 812px;
  background: white;
  .hazmana {
    position: absolute;
    top: 156px;  right: 535px;  width: 400px;  height: 496px;
    background-color: #3047d3;
    .title {
      position: absolute;
      top: 68px; right: 98px;  width: 115px;  height: 82px;
      font-family: Assistant;  font-size: 47px;  font-weight: 300;  line-height: 1.17;  text-align: right;
      color: #f9f9f9;
    }
    .titleUnderline {
      position: absolute;
      top: 190px;  right: 100px;  width: 37px;  height: 2px;
      background-color: #fcfcfc;
    }
    .desc {
      position: absolute;
      top: 246px;  right: 101px;  width: 242px;  height: 59px;
      font-family: Assistant; font-size: 23px;  font-weight: 300;  line-height: 1.61;  text-align: right;
      color: #f9f9f9;
    }
    .list {
      position: absolute;
      top: 0px;  right: 0px;  width: 144px;  height: 186px;
      opacity: 0.1;
      background-color: #2c41c3;
    }
    .sub {
      position: absolute;
      top: 350px;  right: 98px;  width: 183px;  height: 65px;
      background-color: #f9f9f9;
      font-size: 20px;  font-weight: bold;  line-height: 2.75;
      color: #3047d3;
    }
  }
  .tmiha {
    position: absolute;
    top: 156px;  left: 532px;  width: 400px;  height: 496px;
    background-color: #f9f9f9;
    .psuedoBorder {
      position: absolute;
      width: 400px;  height: 496px;
      border: solid 5px #3047d3;
      /* background-color: #f9f9f9; */
    }
    .title {
      position: absolute;
      top: 69px;  right: 97px;  width: 129px;  height: 82px;
      font-family: Assistant;  font-size: 47px;  font-weight: 300;   line-height: 1.17;   text-align: right;
      color: #181818;
    }
    .titleUnderline {
      position: absolute;
      top: 190px;  right: 100px; width: 37px;  height: 2.5px;
      background-color: #3047d3;
    }
    .desc {
      position: absolute;
      top: 248px;  right: 101px; width: 245px;  height: 52px;
      font-family: Assistant;  font-size: 23px;  font-weight: 300;   line-height: 1.61;  text-align: right;
      color: #181818;
    }
    .sub2 { z-index:50;//.. find thbe problem that this fixed..
      position: absolute;
      top: 350px;  right: 98px; width: 183px;  height: 65px;
      background-color: #3047d3;
      font-family: Assistant;  font-size: 20px;  font-weight: bold;   line-height: 2.75;
      color: #ffffff;
    }
    .ccworker {
      position: absolute;
      top: 0px;  right: 0px;  width: 174px;  height: 188px;
      opacity: 0.1;
      background-color: #f1efef;
    }
  }
}

.contact-us {// * {position: absolute;} //caused PROBLEMS | * :not(#classic)// caused problems too
  top: 0px; width: 1920px; height: 664px;
    > * { position: absolute }  
  .contact-us__dash,.contact-us__title-header,.contact-us__title,.contact-us__location-icon,
  .contact-us__phone-icon,.contact-us__email-icon,.contact-us__location,.contact-us__phone,.contact-us__email
    { color: #fefefe }

  .contact-us__location-icon,.contact-us__email-icon,.contact-us__phone-icon { width: 27px }
  
  .contact-us__image { right: 0px; z-index:-1; width: 1920px; height: 664px }
  .contact-us__image-overlay { opacity: 0.5; background-color: black; width: 1920px; height: 664px }
  .contact-us__dash { width: 27px; height: 3px; top: 157px; right: 376px }
  .contact-us__title {
    color: #f9f9f9; top: 192px; right: 374px; width: max-content !important; height: 37px;
    font-size: 47px; font-weight: bold; line-height: 1.17;
  }
  .contact-us__title-header {
    top: 131px; right: 422px; width: max-content !important; height: 17px;
    font-size: 18px; font-weight: bold; line-height: 3.06; letter-spacing: 1.8px;
  }
  .contact-us__location {
    width: max-content !important; height: 22px; top: 306px; right: 426px;
    font-size: 23px; line-height: 0.5;
  }
  .contact-us__location-icon { top: 296px; right: 376px; height: 37px }
  .contact-us__phone {
    width: max-content !important; height: 16px; top: 368px; right: 425px;
    font-size: 23px; line-height: 0.5;
  }
  .contact-us__phone-icon { top: 360px; right: 374px; height: 27px }
  .contact-us__email {
    width: max-content !important; height: 22px; top: 425px; right: 426px;
    font-size: 23px; line-height: 0.5;
  }
  .contact-us__email-icon { top: 423px; right: 373px; height: 21px } 

  .form {                                        /*::ng-deep*/
    font-size: 19px; font-weight: 600; line-height: 1.84; color: #fefefe;
      #name,#company,#phonenumber,#emailaddress,#message { position:absolute }
      #name { width:266px; top: 151px; right: 970px }
      #company { width:266px; top: 151px; right: 1280px }
      #phonenumber { width:266px; top: 256px; right: 970px }
      #emailaddress { width:266px; top: 256px; right: 1280px }
      #message { width: 577px; top: 355px; right: 970px }
    input.mat-input-element { color: #fefefe }  
    input { caret-color: #9d9d9d }
    ::ng-deep .contact-us__input { padding-bottom: 5px; border-bottom: 0.5px solid #fefefe }
    ::ng-deep .contact-us__input:focus { padding-bottom: 5px; border-bottom: 0.5px solid #3047d3 }
    ::ng-deep .mat-form-field-underline { display: none }
    mat-label { color: #fefefe }    
  }
  #formSubmit {
    position: absolute; 
    top: 481px;  right: 983px; width: 183px;  height: 66px;
    color: #ffffff;  background-color: #3047d3;
    font-size: 19px;  font-weight: bold;  line-height: 1.89;
  }
}

.footer {
  background-color: #131313; top: 0px;  width: 1924px;  height: 244px;
  font-size: 17px;  font-weight: 600; line-height: 2.18;
  > * { position: absolute; height: 13px; color: #7a7a7a }
  .footer__home,.footer__about-us,.footer__products,.footer__tofes-hazmana,.footer__settings,
   .footer__contact,.footer__address { top: 73px }
    .footer__home { right: 380px }
    .footer__about-us { right: 458px }
    .footer__products { right: 530px }
    .footer__tofes-hazmana { right: 612px }
    .footer__settings { right: 730px }
    .footer__contact { right: 850px }
    .footer__address { right: 1179px }
    .footer__phone { top: 104px; right: 1305px }
    .footer__search-tool { top: 145px; right: 402px }
}