<div class="page" dir="rtl">
  <div class="container-fluid px-0">
    <div class="row">                                                                    
      <div class="banner">
        <img class="banner__image block" src="assets/banners/about_banner.jpg" >
        <div class="banner__image-overlay"></div>
        <div class="banner__title block">אודות</div>
      </div>
      <div class="content block" >
        <div class="content__title-header">הכירו אותנו מקרוב</div>
        <div class="content__title">אודות פרוליפט</div>
        <div class="content__text">טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט 
          טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט 
          טקסט טקסט טקסט טקסט טקסט טקסט טקסט </div>
        <div class="content__text2">טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט 
            טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט טקסט 
            טקסט טקסט טקסט טקסט טקסט </div>
      </div>
      <div class="tkanim block" >
        <img class="tkanim__image" src="assets/tkanim_pic.jpeg" />
        <img class="tkanim__image-overlay" src="assets/tkanim_cover.png" />
        <div class="tkanim__title-header">עומדים בסטנדרטים</div>
        <div class="tkanim__title">תווי התקן שלנו</div>
        <div class="tkanim__desc">
          כאן יופיע טקסט אודות המוצר בקצרה כאן יופיע טקסט אודות המוצר בקצרה כאן
          יופיע טקסט אודות המוצר בקצרה כאן יופיע טקסט אודות המוצר בקצרה כאן
          יופיע טקסט אודות המוצר בקצרה כאן יופיע טקסט
        </div>
        <div class="paper" style="position: absolute;">
          <img class="paper__doc1" src="assets/standards/doc1.jpeg" />
          <img class="paper__doc2" src="assets/standards/doc2.jpeg" />
          <img class="paper__doc3" src="assets/standards/doc3.jpeg" />
          <img class="paper__doc4" src="assets/standards/doc4.jpeg" />
          <img class="paper__doc5" src="assets/standards/doc5.jpeg" />
        </div>
      </div>
      <div class="contactus block">
        <img class="contactus__image" src="assets/contactus_fullop.png" />
        <div class="contactus__image-overlay"></div>
        <div class="contactus__dash"></div>
        <div class="contactus__title-header">אנו כאן לשירותכם</div>
        <div class="contactus__title">צרו עימנו קשר</div>
        <div class="contactus__location">המרכבה 52, אזור התעשייה חולון</div>
        <img class="contactus__location-icon" src="assets/cu_location2.png" />
        <div class="contactus__phone">03-6540500</div>
        <img class="contactus__phone-icon" src="assets/cu_phone2.png" />
        <div class="contactus__email">prolift@prolift.co.il</div>
        <img class="contactus__email-icon" src="assets/cu_email2.png" />
        <!---->
        <form (ngSubmit)="onSubmit(c)" class="contactus__form form block" #c="ngForm" id="contactForm" dir="rtl" >
          <mat-form-field id="name">
            <mat-label>שם מלא</mat-label>
            <input class="contactus__input" matInput ngModel name="name">
          </mat-form-field>
          <mat-form-field id="company">
            <mat-label>חברה</mat-label>
            <input class="contactus__input" matInput ngModel name="company"/>
          </mat-form-field>
          <mat-form-field id="phonenumber">
            <mat-label>טלפון</mat-label>
            <input class="contactus__input" matInput ngModel name="phone"/>
          </mat-form-field>
          <mat-form-field id="emailaddress">
            <mat-label>דוא"ל</mat-label>
            <input class="contactus__input" matInput ngModel name="email"/>
          </mat-form-field>
          <mat-form-field id="message">
            <mat-label>הודעה</mat-label>
            <input class="contactus__input" matInput placeholder="" value="" ngModel name="message"/>
          </mat-form-field >
          <button id="formSubmit" (click)="onSubmit(c)" type="submit">שלח</button>
        </form>
        <!-- <button id="formSubmit">שלח</button> -->
      </div>

      <div class="footer block">
        <div class="footer__href-home">דף בית</div>
        <div class="footer__href-about-us">אודות</div>
        <div class="footer__href-products">מוצרים</div>
        <div class="footer__href-order-certificate">טופס הזמנה</div>
        <div class="footer__href-settings">תמיכה טכנית</div>
        <div class="footer__href-contact">צור קשר</div>
        <div class="footer__address">
          המרכבה 25 אזור תעשיה חולון, ת.ד 3652 ראש העין, ישראל
        </div>
        <div class="footer__phone">טלפון 03-6540500, פקס 03-6540502</div>
        <div class="footer__href-search-tool">חפש</div>
      </div>
    </div>
  </div>
</div>
